* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sigmar', cursive;
  background-color: #64b787;
}
.fullPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* background-image: url("Images/grass-texture.svg"); */

}
.instructions{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 5px;
}
.controls h1{
text-align: center;
margin-bottom: 50px;
background-color: transparent;
}
.controls p{
  font-size: 20px;
  background-color: transparent;
}
.rules{
  font-size: 5px;
  margin-top: 50px;
  text-align: center;
}
.canvas {
  position: relative;
  display: inline-block;
  border: 8px solid white;
  border-radius: 8px;
}
.healthBars {
  background-color: transparent;
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}
.p1-healthBar {
    display: flex;
    position: relative;
    justify-content: flex-end;
    /* height: 30px; */
    width: 100%;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .p1-health {
    position: absolute;
    background-color: #88989F;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .p1-healthContainer {
    background-color: red;
    height: 30px;
    width: 100%;
  }
.timer {
    display: flex;
  background-color: #3B9861;
  color: white;
  height: 50px;
  width: 100px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 4px;
  font-size: 30px;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3), -3px 0px 7px rgba(0, 0, 0, 0.3), 0px 4px 7px rgba(0, 0, 0, 0.3);
}
.p2-healthBar {
  position: relative;
  /* height: 30px; */
  width: 100%;
  border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.p2-health {
  position: absolute;
  background-color: #855743;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.p2-healthContainer {
  background-color: red;
  height: 30px;
}

.result{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 40%);
    text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8), -3px 0px 7px rgba(0, 0, 0, 0.8), 0px 4px 7px rgba(0, 0, 0, 0.8);

}

.name{
  color: rgba(75, 45, 45, 0.981);
  font-size: 50px;
  margin: -10px 0;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.restart {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono",monospace; */
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding : 0 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.restart:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.restart:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.restart:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}