* {
  box-sizing: border-box;
}
.fullPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.canvas {
  position: relative;
  display: inline-block;
}
.healthBars {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}
.p1-healthBar {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
  }
  .p1-health {
    position: absolute;
    background-color: blue;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .p1-healthContainer {
    background-color: yellow;
    height: 30px;
    width: 100%;
  }
.timer {
    display: flex;
  background-color: red;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.p2-healthBar {
  position: relative;
  height: 30px;
  width: 100%;
}
.p2-health {
  position: absolute;
  background-color: blue;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.p2-healthContainer {
  background-color: yellow;
  height: 30px;
}

.result{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;

}
.instructions{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.name{
  color: rgba(75, 45, 45, 0.981);
  font-size: 50px;
  margin: auto;
}